<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="icon" type="image/x-icon" href="/img/bookshelf.png">

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Tyler's Library</title>
<!--Just using bootstrap icons, nothing else for bootstrap, sad face emoji here lol-->
</head>
<style>
	.whiteText{
		color:white;
	}
	.nav-link {
		color:white;
	}

</style>
<body background="https://t4.ftcdn.net/jpg/03/40/07/85/360_F_340078556_YD52qpLaiTbO5E0OF90FuOaAq3sZr8yF.jpg"><!--Comments and stuff -->
	{{> header}}
		<h2 class="whiteText">Book Recomendations</h2>

		<div class="login-container">
			<a class="nav-link" href="/bookrec/new">New Book Recomendation</a>
		</div>
		<div class="login-container">
			<ul class="comment-list">
				{{#each book_recs}}
				<li class="comment">
					<h3>
						<strong class="whiteText">{{title}}</strong>
					</h3>
					<br>

					<strong class="whiteText">Written by: {{author}}</strong>
					<br>

					<strong class="whiteText">Recomendation by: {{recomender}}</strong>

					<div class="comment-body whiteText">
					{{{description}}}
					</div>
					<em class="whiteText">({{createdAt}})</em>
				</li>
				{{/each}}
			</ul>
		</div>

		<div class="pagination whiteText login-container">
			{{#if (gt currentPage 1)}}
				<a class="nav-link"  href="/comments?page={{subtract currentPage 1}}">Previous</a>
			{{/if}}

			Page {{currentPage}} of {{totalPages}}

			{{#if (lt currentPage totalPages)}}
				<a class="nav-link" href="/comments?page={{add currentPage 1}}">Next</a>
			{{/if}}
		</div>

	</body>
</html>
